.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  & span {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}

.address-item-map {
  transition: var(--hover-color-time);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-item {
  transition: var(--hover-color-time);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social {
  display: flex;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  transition: var(--hover-backgroundcolor-time);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #44454e;
  &:hover,
  &:focus {
    background-color: var(--link-accent-color);
  }
}

.footer-svg {
  fill: #ffffff;
}

.footer-social-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-adres:not(:last-child) {
  margin-right: 70px;
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.mailinglist-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-mailinglist input {
  cursor: pointer;
}

.mailinglist-input {
  color: #ffffff;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: #2f303a;
  transition: var(--shadow-time), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    border-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: var(--shadow-time), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.mailinglist-button {
  padding: 0 63px 0 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: none;
  color: #ffffff;
  background: #2196f3;
  border-radius: 4px;
  height: 50px;
  min-width: 200px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), var(--shadow-time);
  &:hover,
  :focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    color: #2196f3;
    transition: var(--hover-color-time), var(--hover-backgroundcolor-time),
      var(--shadow-time);
  }
}

.telegram-svg {
  position: absolute;
  margin-left: 11px;
  fill: #ffffff;
}

.mailinglist-button:hover .telegram-svg,
.mailinglist-button:focus .telegram-svg {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mailinglist {
  margin-left: auto;
}

.footer-mailinglist .mailinglist-input {
  margin-right: 12px;
}
