.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters {
  justify-content: center;
  display: flex;
  margin-bottom: 50px;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.button-filtres {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  border: none;
  background: #f5f4fa;
  border-radius: 4px;
  transition: var(--shadow-time), var(--hover-backgroundcolor-time),
    var(--hover-color-time);
  padding: 6px 22px;
  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background: #2196f3;
    color: #ffffff;
  }
}

.project {
  display: flex;
  flex-wrap: wrap;
  & h2 {
    margin-bottom: 4px;
  }
}

.project-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item:nth-child(3n + 0) {
  margin-right: 0px;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project-item-wrap {
  overflow: hidden;
  position: relative;
}

.rpoject-text {
  padding: 20px;
  border: 1px solid #eeeeee;
  border-top: none;
  width: 370px;
}

.portfolio-link {
  transition: var(--shadow-time);
  display: block;
  text-decoration: var(--decoration-none);
}

.project-img-text {
  height: 100%;
  transition: transform 250ms;
  padding: 64px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  &.project-item:hover &,
  .project-item:hover & {
    transform: translateY(0);
  }
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.project-after-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  color: #757575;
}
