.backdrop {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  transition: opacity 700ms, visibility 700ms;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: #2196f3;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field label {
  margin-bottom: 4px;
}

.form-input {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 41px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  &:focus {
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-color: var(--link-accent-color);
    &:focus + .input-icon {
      fill: var(--link-accent-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &:hover {
    cursor: pointer;
  }
  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-text {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  &:focus {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-color: var(--link-accent-color);
  }
  &:hover {
    cursor: pointer;
  }
}

.input-wrap {
  position: relative;
}

.input-icon {
  fill: var(--title-color);
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field {
  display: flex;
}

.checbox-label {
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  & span {
    cursor: pointer;
    fill: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    transition: var(--hover-backgroundcolor-time);
  }
}

.policy-check:checked + .checbox-label span {
  border: none;
  background-color: var(--link-accent-color);
  transition: var(--hover-backgroundcolor-time);
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.treaty {
  transition: var(--hover-color-time);
  margin-left: 5px;
  color: #2196f3;
  &:hover,
  &:focus {
    color: #188ce8;
    transition: var(--hover-color-time);
  }
}

.button-form {
  height: 50px;
  min-width: 200px;

  border-radius: 4px;
  border: none;
  background: #188ce8;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: var(--hover-backgroundcolor-time), var(--shadow-time);
  &:focus,
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background: #2196f3;
    transition: var(--hover-backgroundcolor-time), var(--shadow-time);
  }
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-field:nth-child(5) {
  margin-bottom: 20px;
}

.form-field:nth-child(6) {
  margin-bottom: 30px;
}
