:root {
  --item-point: none;
  --title-color: #212121;
  --decoration-none: none;
  --link-accent-color: #2196f3;
  --hover-color-time: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --hover-backgroundcolor-time: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  --shadow-time: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --fill-time: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}